**Q1. EXPLAIN THE KEY FEATURES OF PYTHON THAT MAKE IT A POPULAR CHOICE FOR PROGRAMMING.**

Ans: Key features of Python are as follows:

1.Cross-Platform Compatibility: Python runs on various operating systems, including Windows,MacOS, and Linux, which makes it a flexible choice for developers.

2.Readability and Simplicity: Python's syntax is clear and intuitive, making it easier for beginners to learn and for experienced programmers to read and maintain code.

3.Integration Capabilities: Python can easily integrate with other languages and technologies, making it a good choice for projects that involve multiple programming languages.

4.High Demand in Industry: Python is widely used in various fields, including web development, data analysis, artificial intelligence, and automation, making skills in Python highly sought after in the job market.

5.Extensive Standard Library: Python comes with a comprehensive standard library that provides modules and functions for a wide range of tasks, reducing the need for third-party libraries for common tasks.




**Q2.DESCRIBE THE ROLE OF PREDEFINED KEYWORDS IN PYTHON AND PROVIDE EXAMPLES OF HOW THEY ARE USED IN A PROGRAM.**

Ans: The predefined keywords in Python are fundamental to writing effective Python code, as they define how the program operates and how data flows within it.

Here are some of the most commonly used keywords in Python:

1.CONDITIONAL STATEMENTS

*   if
*   if else
*   elif
*   nested if else


2.LOOP STATEMENTS

*   for
*   while


3.CONTROL STATEMENTS

*   break
*   continue


Examples:

In [1]:
x=10
if x>5:
    print("x is greater than 5")
else:
    print("x is 5 or less than 5")

x is greater than 5

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
n=5
i=1
while i<=n:
    print(i)
    i=(i+1)

1
2
3
4
5

In [4]:
n=7
i=1
while i<n:
    print(i)
    i=(i+1)
    if i==5:
        break
else:
    print("Not Applicable")

1
2
3
4

Q3.**COMPARE AND CONTRAST MUTABLE AND IMMUTABLE OBJECTS IN PYTHON WITH EXAMPLES**.

Ans: In Python, objects are categorized as mutable or immutable based on whether their state can be changed after they are created. Hereâ€™s a comparison of the two, along with examples:

**MUTABLE OBJECTS**

It can be changed in place, meaning you can modify their contents without changing their identity.

**Characteristics:**


*   Can be altered after creation.
*   Changes do not create a new object.


Examples:

*   Lists

In [5]:
list_cont = [0,1, 2, 3, 4, 5,True,False]
print(list_cont[5])
list_cont[3]="Patty"
print(list_cont[3])

5
Patty

In [6]:
a=[1,2,3,4,5,6,7,8,9]
a[4]="9999"
print(a)

[1, 2, 3, 4, '9999', 6, 7, 8, 9]

**IMMUTABLE OBJECT**


*   It cannot be changed.
*   New object is created upon modification.


Examples:

*   String
*   Tuples



**Q4.DISCUSS THE DIFFERENT TYPES OF OPERATORS IN PYTHON AND PROVIDE EXAMPLES OF HOW THEY ARE USED.**

Ans: In Python, operators are special symbols that perform operations on variables and values. They can be classified into several categories:

**Arithmetic Operators**
* Addition Operator(+)  
* Subtraction Operator(-)  
* Multiplication Operator(*)  
* Division Operator(/)
* Modulus Operator(%)
* Exponential Operator(**)
* Floor Operator(//)

Examples:

In [7]:
a=7
b=8
b-a

1

In [8]:
a=3
b=9
a+b

12

In [9]:
a=6
b=4
a*b

24

In [10]:
a=50
b=5
a/b

10.0

In [11]:
a=21
b=4
a%b

1

In [12]:
a=7
b=6
a**b

117649

In [13]:
a=4
b=3
a//b

1

**Comparison Operators**

These operators are used to compare two values and return a Boolean result.

Examples:

In [14]:
2==2

True

In [15]:
4!=2

True

In [16]:
12>=5

True

In [17]:
32<=84784

True

**Logical Operators**

These operators are used to combine conditional statements.

They are:

*   AND
*   OR
*   NOT

Examples:

In [18]:
True and True

True

In [19]:
False or True

True

In [20]:
not True

False

In [21]:
False and False

False

In [22]:
not False

True

**Assignment Operators**

These operators are used to assign values to variables.

Examples:

In [25]:
a=5
a

5

In [24]:
b=12
b/=3
b

4.0

In [23]:
m=34
m+=2
m

36

**Bitwise Operators**

These operators perform operations on binary representations of integers.


*  Bitwise AND (&)
*  Bitwise OR (|)
*  Bitwise XOR (^)
*  Bitwise NOT (~)
*  Left Shift (<<)
*  Right Shift (>>)

Examples:

In [26]:
10&10

10

In [27]:
20 | 3

23

In [29]:
35>>2

8

In [30]:
23<<4

368

In [28]:
3^6

5

**Identity Operators**

These operators are used to compare the memory locations of two objects.

Example:

In [31]:
a=2
b=4
a is b

False

In [32]:
a is not b

True

In [33]:
a=2
b=a
a is b

True

**Membership Operators**

These operators are used to test for membership in sequences like strings, lists, or tuples.

* IN
* NOT IN

Examples:

In [35]:
a="Patty"
"t" in a

True

In [34]:
b = [1, 2, 3]
2 in b

True

**Q5.EXPLAIN THE CONCEPT OF TYPECASTING IN PYTHON WITH EXAMPLES.**

Ans: Typecasting in Python refers to the conversion of one data type into another. Python has built-in functions to facilitate this, allowing to convert between types like integers, floats,strings, and more.

Examples:

In [36]:
a=3
type(a)

int

In [37]:
float(a)

3.0

In [38]:
str(a)

'3'

In [39]:
p="3.55"
print(type(p))
float(p)

<class 'str'>

3.55

**Q6.HOW DO CONDITIONAL STATEMENTS WORK IN PYTHON?ILLUSTRATE WITH EXAMPLES.**


Ans: Conditional statements in Python allow you to execute specific blocks of code based on certain conditions. The main conditional statements are if, elif (else if), and else.


* if: Checks a condition and executes the block if it's true.
* elif: Checks another condition if the previous if was false.
* else: Executes if none of the previous conditions are true.

Examples:

In [42]:
age = 18

if age >= 18:
    print("You are an adult.")

You are an adult.

In [40]:
age = 16

if age >= 18:
    print("You are an adult.")
else:
    print("You are not an adult.")

You are not an adult.

In [41]:
score = 85

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
else:
    print("Grade: F")

Grade: B

Q**7.DESCRIBE THE DIFFERENT TYPES OF LOOPS IN PYTHON AND THEIR USE CASES WITH EXAMPLES.**

Ans: In Python, loops are used to execute a block of code repeatedly. The two primary types of loops are for loops and while loops.

1. For Loop

The for loop is used to iterate over a sequence (like a list, string, or range). It is useful when you know the number of iterations in advance.

Example:

In [43]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [44]:
for i in range(5):
    print(i)

0
1
2
3
4

In [45]:
for num in range(5):
    if num == 2:
        continue
    print(num)

0
1
3
4

2.While Loop

The while loop continues executing as long as a specified condition is True. It is useful when the number of iterations is not known beforehand and depends on dynamic conditions.

Example:

In [46]:
n=5
i=1
while i<=n:
    print(i)
    i=(i+1)

1
2
3
4
5